[submodule "ikt-projekt-1-2f"]
	path = ikt-projekt-1-2f
	url = https://github.com/SzGeryX/ikt-projekt-1-2f
[submodule "ikt-projekt-1-3f"]
	path = ikt-projekt-1-3f
	url = https://github.com/Zoli0217/ikt-projekt-1-3f
[submodule "ikt-projekt-1-1f"]
	path = ikt-projekt-1-1f
	url = https://github.com/KallaiGabor12/ikt-project-1-1f
